/* reset */
* {margin: 0; padding: 0;}

.clearfix::before, .clearfix::after {
    display: block;
    content: '';
    clear: both;
}

#wrap {
    width: 1000px;
    height: 650px;
    position: absolute;
    left: 0; top:0;
    color: white;
    text-align: center;
}

/* header */
.header {
    float: left;
    /* width : 200px; */
    height : 650px;
    background: #999;
}
    .logo {
        width : 200px;
        height : 100px;       
        background: #444
    }
    .menu {
        width : 200px;
        height : 550px;
        background: #333
    }

/* banner */
.banner {
    float: left;
    width : 800px;
    height : 350px;
    background: #777;
}

/* contents */
.contents { 
    float: left;
    width : 800px;
    background: #666;   
}
/* float은 부모에 적용하는게 아니라 부모안 자식들 태그(아래)에 적용하는 것 */
.contents > div {
    float : left; 
    width: 33.333333%;
    height : 200px;
}
    .cont1 {       
        background: #444;         
           
    }
    .cont2 {        
        background: #333; 

    }
    .cont3 {       
        background: #222; 

    }


/* footer */
.footer {    
    float: left; 
    width : 800px;
    height : 100px;
    background: #555;
}
    .foot1 {
        float: left;
        width: 650px;
        height : 100px;
        background: #888; 
    }
    .foot2 {
        float: left;
        width: 150px;
        height : 50px;
        background: #777; 
    }
    .foot3 {
        float: left;
        width: 150px;
        height : 50px;
        background: #999; 
    }
